name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.php-versions >= '8.5' }}
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.5']
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: Configure git
      if: runner.os == 'Windows'
      run: git config --system core.autocrlf false; git config --system core.eol lf

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up PHP ${{ matrix.php-versions }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        ini-values: date.timezone=Europe/Berlin

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies
      run: >
        curl -sSL https://github.com/xp-runners/reference/releases/download/v9.2.0/xp-run-9.2.0.sh > xp-run &&
        composer install --prefer-dist &&
        echo "vendor/autoload.php" > composer.pth

    - name: Run test suite
      run: >
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_new --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_variable --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_string --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_array --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_without_all_args --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_new --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_callable_anonymous_new --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_closure --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_to_throw --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::missing_function --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::missing_argument --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_chain --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::nullsafe_pipe($input, $expecte --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::nullsafe_chain($input, $expecte --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::concat_precedence --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::addition_precedence --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::comparison_precedence --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::ternary_precedence($arg, $expecte --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::short_ternary_precedence($arg, $expecte --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::coalesce_precedence($arg, $expecte --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::rfc_example --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::rejects_by_reference_functions --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::accepts_prefer_by_reference_functions --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::execution_order --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::interrupted_by_exception --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::generators --output=code ;
        sh xp-run xp.test.Runner lang.ast.unittest.emit.PipelinesTest::pipe_precedence_challenges --output=code ;
        echo "OK"